process.executor = 'local'
docker.enabled = false
process.cache = false

process {
    withLabel: validation { cpus = 1; memory = '512 MB'; time = '10m' }
    withLabel: trgt { cpus = 1; memory = '512 MB'; time = '10m' }
    withLabel: longtr { cpus = 1; memory = '512 MB'; time = '10m' }
    withLabel: atarva { cpus = 1; memory = '512 MB'; time = '10m' }
    withLabel: strdust { cpus = 1; memory = '512 MB'; time = '10m' }
    withLabel: normalize { cpus = 1; memory = '512 MB'; time = '10m' }
    withLabel: consensus { cpus = 1; memory = '512 MB'; time = '10m' }
}
